if [ "$(whoami)" = "{{ prank_pranked_user }}" ]; then
  export PROMPT_COMMAND='echo "{{ prank_echo_line }}"'{% if prank_be_so_mean %}
  bind 'set disable-completion on'
  alias rm='echo "I say nay nay to rm"'
  alias chattr='echo "I say nay nay to chattr"'
  alias lsattr='echo "I say nay nay to lsattr"'{% endif %}
fi